.context-menu {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  position: fixed;
  transform: scale3d(0, 0, 0);
  transition: transform 100ms cubic-bezier(.33, .17, .85, 1.1);
  min-width: 240px;
  z-index: 4;
}

.context-menu[open] {
  transform: scale3d(1, 1, 1);
}

.context-menu[open]:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity var(--animate-150, 150ms) cubic-bezier(.33, .17, .85, 1.1);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.context-menu[open]:hover:after {
  opacity: 1;
}

.context-menu[open]:hover:active:after {
  opacity: 0;
}

.context-menu>li {
  padding: 8px;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: var(--seperator-line);
  transition: var(--button-bg-animation);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.context-menu>li:last-child {
  border-bottom: none;
}

.context-menu>li>svg {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.context-menu>li>span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.context-menu>li:hover {
  color: var(--pop-color);
}
