.loading {
  margin: 0px auto;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.circle {
  background: var(--text-color, #000000);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 0 4px;
  transform: scale3d(0, 0, 0);
  animation: dots var(--animation-duration, 800ms) var(--animation-timing, linear) infinite;
}

.loading>.circle:first-child {
  animation-delay: 0ms;
}

.loading>.circle:nth-child(2) {
  animation-delay: 160ms;
}

.loading>.circle:nth-child(3) {
  animation-delay: 320ms;
}

.loading>.circle:nth-child(4) {
  animation-delay: 480ms;
}

.loading>.circle:nth-child(5) {
  animation-delay: 640ms;
}