#log {
  height: 150px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  justify-content: initial;
}
#log::-webkit-scrollbar {
  display: none;
}
#log>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-direction: row;
}
#log>div[hidden] {
  display: none;
}
#log>div>span {
  margin-right: 8px;
  overflow: hidden;
  height: 24px;
}
#log>div>span:first-child {
  min-width: 155px;
}
.debug {
  color: rgb(166, 136, 250);
  min-width: 55px;
}
.info {
  color: rgb(53, 53, 255);
  min-width: 45px;
}
.warning {
  color: yellow;
}
.error {
  color: red;
}
.critical {
  color: orange;
}
