html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="author" content="dough10")
    meta(name="csrf-token" content=csrf)
    script(nonce=nonce, type="text/javascript") window.user = !{JSON.stringify(user)};

  body
    label(for="id") ID
      input(id="id" name="id")
    br
    label(for="title") Title
      input(id="title" name="title") 
    br
    label(id="p" for="p1") Paragraphs
      input(id="p1" name="paragraphs")