@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-v15-latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v15-latin-regular.woff') format('woff'),
    url('../fonts/roboto-v15-latin-regular.ttf') format('truetype'),
    url('../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg');
}

:root {
  --font-family: 'Roboto', 'Noto', sans-serif;
  --pop-rgb: 166, 136, 250;
  --main-color: rgb(var(--main-rgb));
  --pop-color: rgb(var(--pop-rgb));
  --text-color: #333333;
  --main-rgb: 255, 255, 255;
  --disabled-color: #c1bebe;
  --background-color: #b9b9b9;
  --selected-color: rgba(100, 100, 100, 0.4);
  --seperator-line: 1px solid rgba(51, 51, 51, 0.2);
  --contrast-color: #121212;
  --animate-150: 150ms;
  --animate-200: 200ms;
  --animate-300: 300ms;
  --animate-500: 500ms;
  --animation-duration: 800ms;
  --animation-timing: linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
  --max-width-large: calc(100vw - ((90px + 180px) + 200px));
  --max-width-small: calc(100vw - (90px + 180px));
  --max-width-xsmall: calc(100vw - (90px + 70px));
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #dfdfdf;
    --main-rgb: 58, 58, 58;
    --disabled-color: #868686;
    --background-color: rgb(22, 22, 22);
    --selected-color: rgba(136, 136, 136, 0.6);
    --seperator-line: 1px solid rgba(225, 225, 225, 0.1);
  }
}

@media (prefers-reduced-motion) {
  :root {
    --animate-150: 0ms;
    --animate-200: 0ms;
    --animate-300: 0ms;
    --animate-500: 0ms;
  }
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-color);
  font-family: var(--font-family);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  flex-direction: column;
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  min-width: 360px;
  max-width: 600px;
  color: inherit;
  padding: 1.5em;
  background: var(--main-color);
  position: relative;
  border-radius: 1.25em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 6.25em;
  margin: 2.29em 1.29em 0.25em;
  font-size: 1em;
}

a {
  color: inherit;
  /* margin: 0 4px; */
}

.button {
  appearance: none;
  display: inline-flex;
  min-width: 5.14em;
  margin: 0.29em 0.29em;
  color: var(--contrast-color, #ffffff);
  background-color: var(--pop-color, #333333);
  text-align: center;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 5px;
  padding: 0.7em 0.57em;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  pointer-events: all;
  justify-content: center;
  align-items: center;
  transition: background-color var(--animate-150, 150ms) linear;
  transform: translate3d(0, 0, 0);
  flex-direction: row;
  border: none;
  overflow: visible;
}

.button:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transition: opacity var(--animate-150, 150ms) cubic-bezier(.33, .17, .85, 1.1);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
}

.button:hover:after {
  opacity: 1;
}

.button:hover:active:after {
  opacity: 0;
}

.button[disabled] {
  background: rgba(84, 84, 84, 0.4);
  color: #ffffff;
  box-shadow: none;
  cursor: none;
  pointer-events: none;
}

.button[disabled]:active,
.button[disabled]:hover,
.button[disabled]:active:hover {
  box-shadow: none;
}

.button[noshadow],
.button[noshadow]:hover,
.button[noshadow]:hover:after,
.button[noshadow]:after {
  box-shadow: none;
}

.button[noshadow]:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.button>* {
  pointer-events: none;
}

.button :first-child {
  margin-right: 1em;
}

.button :nth-child(2) {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}

p {
  margin: 0.5em auto;
  min-width: 300px;
}

svg {
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.backdrop[visable] {
  opacity: 1;
}

ul {
  list-style-type: none;
}

.context-menu {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  position: fixed;
  transform: scale3d(0, 0, 0);
  transition: transform 100ms cubic-bezier(.33, .17, .85, 1.1);
  min-width: 240px;
  z-index: 2;
}

.context-menu[open] {
  transform: scale3d(1, 1, 1);
}

.context-menu[open]:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity var(--animate-150, 150ms) cubic-bezier(.33, .17, .85, 1.1);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.context-menu[open]:hover:after {
  opacity: 1;
}

.context-menu[open]:hover:active:after {
  opacity: 0;
}

.context-menu>li {
  padding: 8px;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: var(--seperator-line);
  transition: var(--button-bg-animation);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.context-menu>li:last-child {
  border-bottom: none;
}

.context-menu>li>svg {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.context-menu>li>span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.context-menu>li:hover {
  color: var(--pop-color);
}

#stations {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  color: inherit;
  margin: 0;
  padding: 0;
}

#stations>li {
  margin: auto;
  max-width: 500px;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--seperator-line);
}

#stations>li>span {
  width: 100%;
  margin-left: 0.5em;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

#stations>li>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 0.5em;
  background: rgba(var(--pop-rgb), 0.8);
  border-radius: 7px;
  color: var(--contrast-color);
  margin: 0 8px;
  max-height: 32px;
  min-height: 32px;
  min-width: 62px;
  transition: background-color var(--animate-500, 500ms) linear;
  pointer-events: none;
}

#stations>li[playing][selected]>div {
  background: var(--background-color);
  color: var(--text-color);
}

#stations>li:last-child {
  margin-bottom: 11.25em;
  border-bottom: var(--seperator-line);
}

#stations>li[selected] {
  background: var(--main-color);
}

#stations>li>.remove {
  display: none;
}

#stations>li[playing] {
  background: rgba(var(--pop-rgb), 0.4);
}

#stations>li[playing]>.play {
  opacity: 0;
  pointer-events: none;
  cursor: auto;
}

#stations>li[selected]>.remove {
  display: block;
}

#stations>li[selected][playing] {
  background: var(--pop-color);
  color: var(--contrast-color)
}

#stations>li[selected]>.add {
  display: none;
}

.fab {
  appearance: none;
  border: none;
  color: var(--contrast-color, #ffffff);
  background-color: var(--pop-color, #333333);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 56px;
  min-width: 0;
  outline: none;
  padding: 1em;
  position: fixed;
  right: 0.8em;
  bottom: 1.25em;
  width: 56px;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.fab>* {
  pointer-events: none;
}

.fab:after {
  display: inline-block;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  transition: opacity var(--animate-150, 150ms) cubic-bezier(.33, .17, .85, 1.1);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
}

.fab:hover:after {
  opacity: 1;
}

.fab:hover:active:after {
  opacity: 0;
}

.player {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 72px;
  background: var(--main-color, #ffffff);
  transform: translateY(100%);
  color: inherit;
  overflow: hidden;
  will-change: transform;
  border-top: var(--seperator-line, 1px solid rgba(51, 51, 51, 0.2));
  transition: transform var(--animate-150, 150ms) linear;
}

.player[playing] {
  transform: translateY(0);
}

.player>.small-button>svg {
  height: 2.25em;
  width: 2.25em;
}

.player>.small-button {
  position: fixed;
  top: 50%;
  left: 36px;
  transform: translate(-50%, -50%);
}

.player>label {
  position: absolute;
  right: 180px;
  top: 13px;
}

#name {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: var(--max-width-large);
}

#bitrate {
  position: fixed;
  top: 50%;
  right: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 0.5em;
  background: rgba(var(--pop-rgb), 0.8);
  border-radius: 7px;
  color: var(--contrast-color);
  transform: translateY(-50%);
  margin: 0 8px;
  max-height: 32px;
  min-height: 32px;
  min-width: 62px;
}

.spin {
  animation: spin 1.5s linear infinite;
}

dialog {
  overflow: visible;
  background: var(--main-color);
  color: inherit;
  border: none;
  padding: 1.5em;
  border-radius: 1.25em;
  min-width: 280px;
  max-width: 600px;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate3d(0, 300%, 0) translate(-50%, -50%);
  transition: all var(--animate-200, 200ms) linear allow-discrete;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

dialog[open] {
  z-index: 2;
  opacity: 1;
  transform: translate3d(0, 0, 0) translate(-50%, -50%);
  pointer-events: all;
}

dialog::backdrop {
  z-index: 1;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  animation: fade-out var(--animate-200, 200ms) linear forwards;
}

dialog[open]::backdrop {
  animation: fade-in var(--animate-200, 200ms) linear forwards;
}

#response {
  height: 4em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px auto 0.5em auto;
  min-width: 19em;
  display: flex;
  flex-direction: column;
}

.form-group>.button {
  margin: auto;
}

input {
  width: 100%;
  border: 0;
  border-bottom: var(--seperator-line);
  outline: 0;
  font-size: 16px;
  color: inherit;
  padding: 7px 0;
  background: transparent;
  transition: border-color var(--animate-200, 200ms) linear;
}

input[list]::-webkit-list-button,
input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}


input[disabled] {
  color: var(--disabled-color)
}

input[disabled]~label {
  color: var(--disabled-color)
}

input::placeholder {
  color: transparent;
}

input:placeholder-shown~label {
  font-size: 16px;
  cursor: text;
  top: 1.25em;
}

label,
input:focus~label {
  position: absolute;
  top: 0;
  display: block;
  transition: var(--animate-200, 200ms);
  font-size: 12px;
  color: inherit;
}

input:focus~label {
  color: var(--pop-color);
}

input:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--pop-color);
}

.w93 {
  width: 93%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-bottom: none;
}

input[type="range"]:hover {
  opacity: 1;
}

/* Styles for the track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: var(--selected-color);
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  background: var(--pop-color);
  border-radius: 5px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Styles for the thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--pop-color);
  border: 2px solid var(--pop-color);
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-25%);
  transition: background 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid var(--pop-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid var(--pop-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Custom focus style */
input[type="range"]:focus::-webkit-slider-thumb {
  background: var(--pop-color);
}

input[type="range"]:focus::-moz-range-thumb {
  background: var(--pop-color);
}

input[type="range"]:focus::-ms-thumb {
  background: var(--pop-color);
}

/* Remove fill on Internet Explorer */
input[type="range"]::-ms-fill-lower {
  background: transparent;
}

input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 20px var(--main-color) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color)  !important;
}

.toast {
  background: #323232;
  padding: 16px;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  position: absolute;
  border-radius: 3px;
  bottom: 8px;
  left: 8px;
  color: #fff;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-width: 200px;
  cursor: pointer;
  overflow: visible;
  opacity: 0;
  transition: all var(--animate-150, 150ms) cubic-bezier(.33, .17, .85, 1.1);
  transform: translateY(80px) translate3d(0, 0, 0);
}

.toast[opened] {
  transform: translateY(0);
  opacity: 1;
}

.player[playing]~.toast {
  bottom: 80px;
}

.toast:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transition: opacity var(--animate-150, 150ms) cubic-bezier(.33, .17, .85, 1.1);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
}

.toast:hover:after {
  opacity: 1;
}

.toast>* {
  pointer-events: none;
}

.toast-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.toast-wrapper>div:first-child {
  max-width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toast .yellow-text {
  color: yellow;
  margin-left: 24px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.small-button {
  padding: 0.5em;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  border: none;
  background: none;
  color: inherit;
  width: 24px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.small-button[disabled] {
  color: var(--disabled-color);
  cursor: default;
}

.small-button>* {
  pointer-events: none;
}

.reset {
  position: absolute;
  top: 15px;
  right: -15px;
}

.player-big {
  width: fit-content;
}

.to-top {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  animation: show-it var(--animate-150, 150ms) linear forwards;
  transition: transform var(--animate-150, 150ms) linear;
}

.hidden {
  animation: hide-it var(--animate-150, 150ms) linear forwards;
}

.player[playing]~.to-top {
  transform: translateY(-70px) translateX(-50%);
}

.alert {
  background: #323232;
  padding: 16px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  text-align: left;
  position: absolute;
  border-radius: 8px;
  top: 8px;
  color: #fff;
  z-index: 4;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  min-width: 200px;
  max-width: 600px;
  margin: auto;
  left: 50%;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(-120%) translateX(-50%);
}

.alert[open] {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}

.alert>.yellow-text {
  padding: 16px;
  cursor: pointer;
  margin: auto;
  color: yellow;
  min-width: 135px;
}

#matomo-opt-out>input {
  margin-right: 8px;
  width: auto;
}

#matomo-opt-out>label {
  position: inherit;
  font-size: inherit;
  display: inline-block;
}

.loading {
  margin: 0px auto;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circle {
  background: var(--text-color, #000000);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 0 4px;
  transform: scale3d(0, 0, 0);
  animation: dots var(--animation-duration, 800ms) var(--animation-timing, linear) infinite;
}

.loading>.circle:first-child {
  animation-delay: 0ms;
}

.loading>.circle:nth-child(2) {
  animation-delay: 160ms;
}

.loading>.circle:nth-child(3) {
  animation-delay: 320ms;
}

.loading>.circle:nth-child(4) {
  animation-delay: 480ms;
}

.loading>.circle:nth-child(5) {
  animation-delay: 640ms;
}

#info {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

dialog>.small-button.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.attention {
  animation: get-attention 250ms ease-in-out 2;
}

.button-attention {
  animation: get-button-attention 250ms ease-in-out 2;
}

.dialog-attention {
  animation: get-dialog-attention 500ms ease-in-out;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  height:400px;
  margin-bottom: 16px;
  min-width: 300px;
  padding: 8px;
}

.scrollable>ul {
  margin: 0 0 24px 0;
  padding: 0;
}

.scrollable>ul>li {
  padding: 0 16px;
}

.scrollable>ul>li>ul {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .alert {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  #name {
    max-width: var(--max-width-small);
  }

  #vol {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #name {
    max-width: var(--max-width-xsmall);
  }

  #bitrate {
    display: none;
  }

  .toast-wrapper>div:first-child {
    max-width: 200px;
  }
}

@keyframes hide-it {
  from {
    display: block;
    opacity: 1
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes show-it {
  from {
    display: none;
    opacity: 0;
  }

  to {
    display: block;
    opacity: 1
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

@keyframes dots {
  0% {
    transform: scale3d(0, 0, 0);
  }

  15% {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(0, 0, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes get-attention {
  0% {
    transform: scale(1);
    color: inherit;
  }
  50% {
    transform: scale(1.5);
    color: var(--pop-color);
  }
  100% {
    transform: scale(1);
    color: inherit;
  }
}

@keyframes get-button-attention {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes get-dialog-attention {
  0% {
    transform: scale(1) translateX(-50%) translateY(-50%);
  }
  50% {
    transform: scale(1.05) translateX(-48%) translateY(-48%);
  }
  100% {
    transform: scale(1) translateX(-50%) translateY(-50%);
  }
  
}